@inject IConfiguration Configuration

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#104fff" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.min.css?version=@version" />
    <link rel="icon" type="image/svg" href="logo.svg" />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=@InteractiveServer />
    <script src="_framework/blazor.web.js?version=@version" autostart="false"></script>
    <script lang="javascript">
        Blazor.start({
            circuit: {
                reconnectionOptions: {
                    maxRetries: 100, retryIntervalMilliseconds: 500
                }
            }
        })
        
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('service-worker.js')
                .then(function(registration) {
                    console.log('Service Worker registered with scope:', registration.scope);
                })
                .catch(function(error) {
                    console.error('Service Worker registration failed:', error);
            });
        } else {
            console.error('Service Worker is not supported in this browser.');
        }
    </script>
</body>

</html>

@code {
    string version = "0.0.0";

    protected override void OnInitialized()
    {
        version = Configuration["AppVersion"];
    }
}
